<!DOCTYPE html>
<html lang="en" ng-app="galleryApp">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Jenil Jain Porfolio</title>
    <link rel="shortcut icon" href="img/favicon.ico" />

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="css/style.css"> <!-- Resource style -->
    
    <!-- Custom CSS -->
    <link href="css/portfolio-item.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <script src="js/modernizr.js"></script> <!-- Modernizr -->

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="js/app.js"></script>

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#" id=header_name>JENIL JAIN</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#about">About</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#portfolio">Portfolio</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#cd-timeline">Journey</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#skills">Skills</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- About Section -->
    <section class="dark" id="about">
        <div class="container">
            <div class="row" style="padding-top: 30px">
                <div class="col-lg-4">
                    <img class="img-responsive" src="img/profile.jpg" alt="">
                </div>
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-lg-10 text-center">
                            <h1>ABOUT ME</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-10">
                            <div  id="summary">
                                <p>Hello! My name is Jenil Jain and I'm a Software Developer. I recently completed my Master's degree in Computer Engineering from Arizona State University and now I am looking for full time opportunities. I have a diverse set of skills, ranging from web development both frontend as well as backend to embedded software development. Want to know more about me, get in touch with me through either LinkedIn, Facebook or Twitter.</p>
                            </div>
                            <div class="col-lg-8 col-lg-offset-2 text-center" style="padding-top: 20px">
                                <a href="/projects/Jenil_Resume.pdf" class="btn btn-lg btn-outline" download>
                                    <i class="fa fa-download"></i> Resume
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-2 text-right">
                            <ul class="list-inline">
                                <li>
                                    <a target="_blank" href="https://www.facebook.com/jeniljain29392" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                                </li>
                                <li>
                                    <a target="_blank" href="https://twitter.com/jenRorschach" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a target="_blank" href="https://www.linkedin.com/in/jenil-jain-23272193" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                                </li>
                                <li>
                                    <a target="_blank" href="https://github.com/jeniljain29392" class="btn-social btn-outline"><i class="fa fa-fw fa-github"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="portfolio">
        <div class="container">
            <div class="bg" ng-controller="GalleryController" >
                <div class="row">
                    <div class="col-lg-12 text-center" style="color: #222; font-family: Arial Black;">
                        <h1>PORTFOLIO</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">{{selected.title}}
                            <small>{{selected.desc}}</small>
                        </h1>
                    </div>
                </div>

                <div class="row">
                <div class="col-md-6">
                    <div class="viewwindow">
                        <ul id="fullscroller" class="fullsizelist" ng-style="listposition" >
                            <li ng-repeat="image in galleryData">
                                <img id="fullsize" class="img-responsive large" ng-src="{{IMAGE_LOCATION+image.image}}" alt=""/>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-6">
                    <h3>Project Description</h3>
                    <p>{{selected.desc_long}}</p>
                    <strong><p>Skills: {{selected.skills}}</p>
                    <strong>
                        <a target="_blank" href="{{selected.link}}" class="btn btn-lg btn-outline-dark"
                            style="">
                            <i class="fa"></i>Learn More
                        </a>
                    </strong>
                </div>
                </div>
                
                <div class="row" >
                    <div class="col-lg-12">
                        <h3 class="page-header">Projects</h3>
                    </div>
                    <div class="col-sm-3 portfolio-item" ng-repeat="image in galleryData">
                        <div class="portfolio-link">
                            <a ng-href="#portfolio" ng-click="scrollTo(image,$index)">
                                <div class="caption">
                                    <div class="caption-content">
                                        <i class="fa fa-3x">{{image.title}}</i>
                                    </div>
                                </div>
                                <img class="img-responsive portfolio-item" ng-src="{{IMAGE_LOCATION+image.image}}" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="cd-timeline" class="dark">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1>JOURNEY</h1>
                    <blockquote style="border: none">
                        <p>A journey of a thousand miles begins with a single step</p>
                        <footer>Lao Tzu</footer>
                    </blockquote>
                </div>
            </div>
            
            <div id="timeline">
                <div class="cd-timeline-block">
                    <div class="cd-timeline-img cd-school">
                    </div> <!-- cd-timeline-img -->

                    <div class="cd-timeline-content">
                        <h2><strong>Bachelors in Engineering</strong></h2>
                        <h4 style="color: darkgreen"><strong>University of Mumbai</strong></h4>
                        <p>Completed my bachelors in Electronics and Telecommunication from University of Mumbai. The fours years of my
                         undergraduate courses laid the foundation of my career and made me think like an Engineer.</p>
                        <span style="color: #333">
                            <ul>
                                <li>GPA : 3.65 out of 4.00</li>
                            </ul>
                        </span>
                        <span class="cd-date">JUL 2009 - JUN 2013</span>
                    </div> <!-- cd-timeline-content -->
                </div> <!-- cd-timeline-block -->

                <div class="cd-timeline-block">
                    <div class="cd-timeline-img cd-work">
                    </div> <!-- cd-timeline-img -->

                    <div class="cd-timeline-content">
                        <h2><strong>Software Developer</strong></h2>
                        <h4 style="color: darkred"><strong>IMPAQ TECHNOLOGIES</strong></h4>
                        <h5 style="color: #333">
                            <strong>
                                Frontend || Backend || RESTful Web service || LAMP stack || UNIX shell
                            </strong>
                        </h5>
                        <p>My first step out of school! I got the opportunity to apply what I learned during my undergraduate course and
                        also got to learn how the industry works.</p>
                        <span style="color: #333">
                            <ul>
                                <li>Implemented interactive frontend in MVC architecture using HTML/CSS, Javascript and AJAX.</li><br>
                                <li>Developed server applications and RESTful web services on PHP, MySQL and Apache stack (LAMP).</li><br>
                                <li>Managed and maintained backend of dynamic database driven website and systems including eCommerce and CMS.</li><br>
                                <li>Communicated with clients and other team members to meet with design and system requirements.</li><br>
                                <li>Earned expertise in Object Oriented Programming and SDLC methodology like Scrum.</li>
                            </ul>
                        </span>
                        <span class="cd-date">MAY 2012 - MAY 2014</span>
                    </div> <!-- cd-timeline-content -->
                </div> <!-- cd-timeline-block -->

                <div class="cd-timeline-block">
                    <div class="cd-timeline-img cd-school">
                    </div> <!-- cd-timeline-img -->

                    <div class="cd-timeline-content">
                        <h2><strong>Masters in Computer Engineering</strong></h2>
                        <h4 style="color: darkgreen"><strong>Arizona State University</strong></h4>
                        <p>Most important step in my journey. Enhanced my knowledge in various fields like Operating System, Distributed Software Development, Data structures and Algorithms. Gained expertise in programming languages like C/C++, Java, Javascript and Python</p>
                        <span style="color: #333">
                            <ul>
                                <li>GPA : 3.57 out of 4.00</li>
                            </ul>
                        </span>
                        <span class="cd-date">AUG 2014 - MAY 2016</span>
                    </div> <!-- cd-timeline-content -->
                </div> <!-- cd-timeline-block -->

                <div class="cd-timeline-block">
                    <div class="cd-timeline-img cd-work">
                    </div> <!-- cd-timeline-img -->

                    <div class="cd-timeline-content">
                        <h2><strong>Software Engineering Intern</strong></h2>
                        <h4 style="color: darkred"><strong>INSENSI, NY</strong></h4>
                        <h5 style="color: #333">
                            <strong>
                                Backend || Embedded Software || MongoDB ||  Signal Processing || C/C++
                            </strong>
                        </h5>
                        <p>Another step in the real world and this time a great opportunity in my dream city, New York!
                        Working in a startup made me realize my capabilities.</p>
                        <span style="color: #333">
                            <ul>
                                <li>Developed an API in C++ to decode the Caller ID message for a smart android land-line phone. </li><br>
                                <li>Created a backend application to record various event from the android device into a database (mongoDB).</li><br>
                                <li>Tested both, the API and the application by writing automated test cases using JUnit.</li><br>
                            </ul>
                        </span>
                        <span class="cd-date">MAY 2015 - AUG 2015</span>
                    </div> <!-- cd-timeline-content -->
                </div> <!-- cd-timeline-block -->
            </div>
        </div>
    </section> <!-- cd-timeline -->

    <section id="skills">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center" style="color: #222; font-family: Arial Black;">
                    <h1>SKILLS</h1>
                </div>
            </div>
            <div class="row" style="padding-top: 55px">
                <img src="img/wordCloud.png" class="img-responsive center-block" alt="">
            </div>
        </div>
    </section>

    <section class="dark" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1>Get in touch with me</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div style="padding: 70px 0 50px 0">
                        <a href="mailto:jeniljain29392@gmail.com" class="btn btn-lg btn-outline">
                            <i class="fa"></i>jeniljain29392@gmail.com
                        </a>
                    </div>
                    <ul class="list-inline">
                        <li>
                            <a target="_blank" href="https://www.facebook.com/jeniljain29392" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                        </li>
                        <li>
                            <a target="_blank" href="https://twitter.com/jenRorschach" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                        </li>
                        <li>
                            <a target="_blank" href="https://www.linkedin.com/in/jenil-jain-23272193" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- jQuery -->
    <!-- Vendor libraries -->
    <script src="js/jquery.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/portfolio.js"></script>

</body>

</html>
